GDAL==3.4.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.24.2
openrouteservice==2.3.3
pandas==2.0.0
shapely==2.0.2
simplekml==1.3.6
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==2.0.4
stack-data==0.6.2
starlette==0.27.0
sympy==1.9
system76driver==20.4.83
systemd-python==234
tenacity==8.2.2
terminado==0.17.1
texttable==1.6.4
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.7.0
unicodedata2==14.0.0
uri-template==1.2.0
urllib3==1.26.5
uvicorn==0.15.0
uvloop==0.17.0
wadllib==1.3.6
watchgod==0.8.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.7
